<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QITA_OLTK.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <QITA_OLTK.My.MySettings>
            <setting name="LastViewedDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ChartForAllProjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="LastChartMarkersSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultAlphabete" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyz</value>
            </setting>
            <setting name="ExtractTextFromHTMLFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Files_PrependDirectoryName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Files_RandomizeDictionaryFileList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Files_IgnoreBinaryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Files_MaxFileSize" serializeAs="String">
                <value>MAXimum file size: [500 000] Bytes</value>
            </setting>
            <setting name="Files_MinimumFileSize" serializeAs="String">
                <value>MINimum file size: [All]</value>
            </setting>
            <setting name="Files_ClusterFilesSizeMod" serializeAs="String">
                <value>Use only ONE file with similar size of: [2 000] Bytes</value>
            </setting>
            <setting name="Files_MaxFilesCount" serializeAs="String">
                <value>Maximum files count: [1 000]</value>
            </setting>
            <setting name="File_ContainingStringFilter" serializeAs="String">
                <value>Files containing in name: [*]</value>
            </setting>
            <setting name="NewChartWizard_OnlySelectedRows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewChartWizard_DoForAllProjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewChartWizard_LastXIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewChartWizard_LastYIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Chart_ChartType" serializeAs="String">
                <value>Point</value>
            </setting>
            <setting name="NewChartWizard_LastZIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Chart_ShowMargin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Settings_TreatNumbersAsWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUsedTokenizer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedLemmatizer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedPOSTagger" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedPostProcessor" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_TreatNonAlphaNumericsAsTokens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CacheSettings_CacheTokens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheSettings_CacheTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheSettings_CacheFreqTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CacheSettings_EnableCaching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Files_RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_NGramSize" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Last_TextReduceSize" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Last_WindowMakerLength" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Chart_DisplayLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Chart_DisplayMinorGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Chart_MaxMarkSize" serializeAs="String">
                <value>25</value>
            </setting>
        </QITA_OLTK.My.MySettings>
    </userSettings>
</configuration>
